extends layouts/main-layout

block head
    title #{pageTitle}
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        h1 #{pageTitle}
        if products.length > 0
            p List of products
            div.grid
                each product in products
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        div.card__image
                            img(src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png", alt="A Book")
                        div.card__content
                            h2.product__price $#{product.price}
                            //- p.product__description #{product.description}
                        div.card__actions
                            button.btn Add to Cart
        else
            p No products found.